.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.swp
*.swo

client/.vs/
client/build/
client/dist/
client/**/*.user
client/**/*.suo
client/**/*.VC.db
client/**/*.VC.VC.opendb
client/**/*.ipch
client/**/*.aps
client/**/*.ncb
client/**/*.opendb
client/**/*.opensdf
client/**/*.sdf
client/**/*.pdb
client/**/*.ilk
client/**/*.obj
client/**/*.lib
client/**/*.exp
client/**/*.exe
client/**/*.dll

server/dist/
server/*.exe
server/*.test
server/coverage.out
server/coverage.html

server/server.ini
server/*.db
server/*.db-*
server/*.sqlite
server/*.sqlite3
server/*.log
server/ghosts/
