#include <windows.h>
#include "../MedgeNetVersion.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MEDGENET_VERSION_VALUE
 PRODUCTVERSION MEDGENET_VERSION_VALUE
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "MedgeNet"
            VALUE "FileDescription", "MedgeNet Client DLL"
            VALUE "FileVersion", MEDGENET_VERSION_STRING
            VALUE "InternalName", "MedgeNetClient.dll"
            VALUE "OriginalFilename", "MedgeNetClient.dll"
            VALUE "ProductName", "MedgeNet"
            VALUE "ProductVersion", MEDGENET_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
